@import '../variables';
@import '../themes';

.game-topics {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all $timing-fast;

  &--hidden {
    top: calc(100% - 2.5em);
  }
}

.rankable-topic {
  min-height: 4.5em;
  transition: all $timing-fast;

  &__reveal-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__topic {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all $timing-fast;

    &--dragging {
      @include themify() {
        background-color: themed('color-primary-lightest');
      }
    }

    &--revealable {
      right: 26%;
    }
  }

  &--dragging {
    box-shadow: 0 4px 10px rgba($color: $color-black, $alpha: 0.25);
  }
}
