$color-orange: #ff5d28;
$color-purple: #c36be2;
$color-green: #3cdabc;

$themes: (
  orange: (
    color-primary: $color-orange,
    color-primary-dark: darken($color-orange, 14%),
    color-primary-light: lighten($color-orange, 14%),
    color-primary-lightest: lighten($color-orange, 25%)
  ),
  purple: (
    color-primary: $color-purple,
    color-primary-dark: darken($color-purple, 14%),
    color-primary-light: lighten($color-purple, 14%),
    color-primary-lightest: lighten($color-purple, 25%)
  ),
  green: (
    color-primary: $color-green,
    color-primary-dark: darken($color-green, 14%),
    color-primary-light: lighten($color-green, 14%),
    color-primary-lightest: lighten($color-green, 25%)
  )
);

@mixin themify() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value
          )
        ) !global;
      }

      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

:export {
  colorOrange: $color-orange;
  colorPurple: $color-purple;
  colorGreen: $color-green;
}
