@import 'variables';
@import 'themes';

.visibility--hidden {
  visibility: hidden;
}

.display--none {
  display: none;
}

// width

.width--10-pct {
  width: 10%;
}

.width--25-pct {
  width: 25%;
}

.width--33-pct {
  width: 33.33%;
}

.width--40-pct {
  width: 40%;
}

.width--50-pct {
  width: 50%;
}

.width--66-pct {
  width: 66%;
}

.width--75-pct {
  width: 75%;
}

.width--100-pct {
  width: 100%;
}

// height

.min-height--huge {
  min-height: $size-xlarge * 4;
}

.height--100-pct {
  height: 100%;
}

// margin

.margin--base {
  margin: $size-base;
}

.margin--large {
  margin: $size-large;
}

.margin-b--xs {
  margin-bottom: $size-xs;
}

.margin-b--s {
  margin-bottom: $size-s;
}

.margin-b--base {
  margin-bottom: $size-base;
}

.margin-b--large {
  margin-bottom: $size-large;
}

.margin-b--xlarge {
  margin-bottom: $size-xlarge;
}

.margin-r--s {
  margin-right: $size-s;
}

.margin-t--none {
  margin-top: 0;
}

.margin-t--xs {
  margin-top: $size-xs;
}

.margin-t--s {
  margin-top: $size-s;
}

.margin-t--base {
  margin-top: $size-base;
}

.margin-t--large {
  margin-top: $size-large;
}

.margin-t--xlarge {
  margin-top: $size-xlarge;
}

.margin-h--large {
  margin-left: $size-large;
  margin-right: $size-large;
}

.margin-h--xlarge {
  margin-left: $size-xlarge;
  margin-right: $size-xlarge;
}

// padding

.padding--xs {
  padding: $size-xs;
}

.padding--s {
  padding: $size-s;
}

.padding--base {
  padding: $size-base;
}

.padding--large {
  padding: $size-large;
}

.padding--xlarge {
  padding: $size-xlarge;
}

.padding-t--base {
  padding-top: $size-base;
}

.padding-t--large {
  padding-top: $size-large;
}

.padding-b--xs {
  padding-bottom: $size-xs;
}

.padding-b--s {
  padding-bottom: $size-s;
}

.padding-v--s {
  padding-top: $size-s;
  padding-bottom: $size-s;
}

.padding-v--base {
  padding-top: $size-base;
  padding-bottom: $size-base;
}

.padding-v--large {
  padding-top: $size-large;
  padding-bottom: $size-large;
}

.padding-v--xlarge {
  padding-top: $size-xlarge;
  padding-bottom: $size-xlarge;
}

.padding-h--xs {
  padding-left: $size-xs;
  padding-right: $size-xs;
}

.padding-h--s {
  padding-left: $size-s;
  padding-right: $size-s;
}

.padding-h--base {
  padding-left: $size-base;
  padding-right: $size-base;
}

.padding-h--large {
  padding-left: $size-large;
  padding-right: $size-large;
}

.padding-h--xlarge {
  padding-left: $size-xlarge;
  padding-right: $size-xlarge;
}

.padding-r--base {
  padding-right: $size-base;
}

// flex

.flex {
  display: flex;
}

.direction--column {
  flex-direction: column;
}

.justify--around {
  justify-content: space-around;
}

.justify--between {
  justify-content: space-between;
}

.justify--end {
  justify-content: flex-end;
}

.align-items--center {
  align-items: center;
}

.align-self--end {
  align-self: flex-end;
}

.flex-grow--1 {
  flex-grow: 1;
}

.flex-shrink--0 {
  flex-shrink: 0;
}

.flex-shrink--1 {
  flex-shrink: 1;
}

// background color

.bg-color--primary {
  @include themify() {
    background-color: themed('color-primary');
  }
}

.bg-color--white {
  background-color: $color-white;
}

// color

.color--dark-gray {
  color: $color-gray-dark;
}

.color--primary {
  @include themify() {
    color: themed('color-primary');
  }
}

.color--primary-dark {
  @include themify() {
    color: themed('color-primary-dark');
  }
}

.color--white {
  color: $color-white;
}

// font

.font-size--base {
  font-size: $size-base;
}

.font-size--large {
  font-size: $size-large;
}

.font-size--xlarge {
  font-size: $size-xlarge;
}

.font-size--huge {
  font-size: $size-xlarge * 2;
}

.font-weight--bold {
  font-weight: bold;
}

// overflow

.overflow-y--auto {
  overflow-y: auto;
}

.overflow--hidden {
  overflow: hidden;
}

.text-align--center {
  text-align: center;
}

// border

.border {
  border-width: 2px;
  border-style: solid;
}

.b-color--primary {
  @include themify() {
    border-color: themed('color-primary');
  }
}

.rounded {
  border-radius: $size-s;
}

// position

.position--relative {
  position: relative;
}

// opacity

.opacity--50-pct {
  opacity: 0.5;
}
