// compat

$color-green: #00ff00;
$color-gray: #00ff00;
$color-orange: #00ff00;
$color-purple: #00ff00;
$color-secondary: #00ff00;

// size

$size-xxs: 0.375em;
$size-xs: 0.5em;
$size-s: 0.875em;
$size-base: 1.125em;
$size-large: 1.5em;
$size-xlarge: 2em;

// timing

$timing-fast: 250ms;
$timing-base: 500ms;
$timing-slow: 1000ms;

// color

$color-primary: #ff5d28;
$color-primary-dark: #df3f0a;
$color-primary-light: #ffbea9;

$color-gray-dark: #2e2e2e;
$color-gray-light: #969696;
$color-gray-lighter: #dedede;
$color-white: #fff;
$color-black: #000;

:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
}
